
/** Styles */

button {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    }

/** Night Modus **/
body.night{
    background-color: black;
}

h1.night{
    color: white;
}

p.night{
    color: white;
} 

/** Day Modus **/
body.day{
    background-color: white;
}

h1.day{
    color: black;
}

p.day{
    color: black;
}